.ReviewBottomBorder {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  border: 0.1px solid rgba(155, 155, 155, 0.5);
  background-color: rgba(155, 155, 155, 0.5);
}