.AllReviews .ReviewBottomBorder {
  width: 100%;
  margin: auto;
  display: flex;


  border: 0.1px solid rgba(155, 155, 155, 0.5);
  background-color: rgba(155, 155, 155, 0.5);
}

.reviewContainer {
  min-height: 150px;
  display: flex;
  width: 100%;
  padding: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: start;
  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  color: #F5F5F5;
}

.reviewContainer:hover {
  box-shadow: 0 0 5px -1px #717171;
}

.reviewContainer #reviewText {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: left;
  flex: 65%;
  padding-left: 10px;
  padding-right: 10px;
}

.reviewContainer #reviewImage {
  display: flex;
  flex-direction: column;
  place-content: center;
  flex: 30%;
  object-fit: cover;
}

.reviewTitle {
  color: #F5F5F5;
  font-size: max(20px, 2vw);
  text-align: left;
  cursor: default;
}

.reviewTitleSingle {
  color: #F5F5F5;
  font-size: max(20px, 2vw);
  text-align: left;
  cursor: default;
}

.reviewTitle:hover {
  color: #3d63df;
  cursor: pointer;
}

.reviewAuthor {
  font-size: max(14px, 1vw);
  color: #cccccc;
  justify-content: center;
}

.reviewAuthor:hover {
  color: #3d63df;
  cursor: pointer;
}

.reviewDateCreated {
  font-size: max(12px, 1vw);
  color: #818384;
  cursor: default;
}

.reviewCategory {
  font-size: max(12px, 1.1vw);
  color: #818384;
}

.reviewCategory:hover {
  color: #3d63df;
  cursor: pointer;
}

.reviewReview {
  font-size: max(10px, 1vw);
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #aaaaaa;
  cursor: default;
}

.fullReview {
  font-size: max(10px, 1vw);
  display: -webkit-box;
  max-width: 100%;
  color: #aaaaaa;
  cursor: default;
}

.reviewBreak {
  border-bottom: 0.5px solid #585858;
  width: 95%;
}