.Full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddGenreTitle {
  align-items: center;
  font-size: max(20px, 3vw);
  padding: 10px;
}


.GenreInputAndButton {
  flex-direction: column;
  align-items: center;
}