.LoginText {
  flex: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: max(20px, 2vw);
}


.LogoutButton {
  width: 133.6px
}

.CreateNewUserButton {
  margin-top: 10px;
  width: 100%;
}

.LoginButtonAccountPage {
  width: 133.6px
}