.App {
  width: 100%;
  height: 100%;
  min-width: 800px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #212121 30%, #550707 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.Header {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #212121;
  color: whitesmoke;
  border-bottom: 2px solid #717171;
  justify-content: center;
  font-size: 75px;
}

.Header:hover {
  cursor: default;
}

.parentHeader {
  position: relative;
}

.childHeader {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.templatePage {
  height: 100%;
  min-width: 50%;
  width: fit-content;
  max-width: 65%;
  margin: auto;
  display: flex;
  padding: 10px 10px 10px 10px;
  margin-top: 2vh;
  text-align: center;
  align-items: center;
  border: 1px solid #717171;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #F5F5F5;
  margin-left: max(20%, );
}